.description-pokemon {
display: flex;
flex-direction: column;
border: rgb(207, 129, 10);
border-radius: 2%;
border-style: double;
width: 220px;
align-items: center;
background-color: rgb(230, 236, 133);
}

.Pokemons {
  display: flex;
  align-items:baseline ;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 200px 200px;
  background-color: rgb(59, 18, 87);
}

#root {
  display: flex;
  justify-content: center;
  width: 100px 100px;
  
}